#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

clean::
	rm -f libsqlitetcl.so

common-install-arch::
	install -d debian/sqlite3-ext-tcl/usr/lib/
	gcc -I/usr/include/tcl8.5 -fPIC -shared tcl.c -o libsqlitetcl.so -ltcl8.5
	install -m 644 libsqlitetcl.so debian/sqlite3-ext-tcl/usr/lib/
